@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");

/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-dark {
    background-color: #161616;
}

.w-96 {
    width: 44em !important;
}

.green-dot {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: rgb(26, 243, 26);
    top: 0;
    right: 0;
    border-color: 5px #161616;
    margin: 2px;
}

.text-xsm {
    font-size: 12px;
    white-space: nowrap;
}

.img-bg {
    height: 350px;
    width: 300px;
    background-color: #f7681c;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
}

.img-bg1 {
    height: 150px;
    width: 150px;
    background: linear-gradient(40deg, #ffcf32, #ffae00);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 100px;
}

.inside {
    position: absolute;
    top: 20px;
    left: 20px;
}

.scale-menu {
    transition: all 0.2s ease-in-out;
}

.scale-menu:hover {
    transform: scale(1.01) !important;
}

.heading {
    font-size: 60px;
    line-height: 50px;
    font-family: "Kaisei Tokumin", serif;
    background: -webkit-linear-gradient(80deg, #eee, rgb(250, 115, 62));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h-hamburger {
    height: 3px;
}

.mt-hamburger {
    margin-top: 7px;
}


/* media query for large screen */

@media screen and (min-width: 1590px) {
    .lg-screen {
        padding: 0px 300px;
    }
}

@media screen and(min-width:480px) {
    .lg-screen {
        padding: 0px 10px !important;
    }
}

.bg-menu {
    background-color: #2c2c2c;
}


/* animation for hamburger menu */

.line1 {
    transform: rotatez(135deg);
    animation: close;
    animation-duration: 0.2s;
}

.line2 {
    transform: rotatez(-135deg);
    animation: close;
    animation-duration: 0.2s;
    margin-top: 10px;
}

.scale-menu {
    transform: scale(1.2);
}